.level {
	padding: 10px;
	float: none;
	overflow: auto;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: #ddd;
	box-shadow: 2px 3px 5px #DDDDDD;
	background-color: #F0F0F0;
	margin: 10px;	
	-webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.level-list {
	padding: 10px;
}

.level-toolbar {
	width: 220px;
	float: right;
	display: block;
}

.level-hover {
	background-color: #EEEEEE;
}

.level-name {
	float: left;
	vertical-align: middle;
}
